
.bg-container {
    background-color: #1f2933;
    height: 100vh;
}
.head{
    color: yellow;
    font-weight: 600;
}
.para{
    color: white;
    font-family: "Roboto";
    font-weight: 600;
    font-size: 65px;
}
.bg-person-card{
   background-color: #323f4b;
   padding: 10px;
   width: 400px;
    
    
}
.card-description{
  color: #9aa5b1;
  font-size: 20px;
}
.card-name{
  color: white;
  font-size: 30px;
}
.person-image{
  height: 100px;
  width: 100px;
  border-radius: 50px;
}
